@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url("../imagens/fundo-madeira.jpg") no-repeat center top fixed;
    background-size: cover;
}

main {
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 627px;
    width: 311px;
    background: url("../imagens/frame-iphone.png") no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 470px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    border-radius: 50%;

    margin: 10px;
    width: 50px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.767);
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.596);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
    transition: transform .3s, border 1s;
}